<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vehicles</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam:wght@300&family=Kaushan+Script&family=Marck+Script&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-color: rgb(125, 148, 77);
            font-family: candara, sans-serif;
        }

        .box {
            background-color: rgba(255, 255, 255, 0.7);
            width: 50%;
            margin: auto;
            margin-top: 30px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
        }

        .vehicle {
            text-align: center;
        }

        table {
            width: 105%;
            margin: auto;
        }

        th,
        td {
            background-color: rgba(113, 140, 27, 0.3);
            padding: 10px;
            border-radius: 5px;
        }

        th a,
        td a,
        .form-input a {
            background-color: rgb(125, 148, 77);
            color: rgb(0, 0, 0);
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }

        th a:hover,
        td a:hover,
        .form-input a:hover {
            background-color: rgba(125, 148, 77, 0.5);
        }

        form {
            width: 70%;
            margin: auto;
        }

        label {

            font-weight: bold;
        }

        .form-input {
            line-height: 40px;
        }

        input {
            background-color: rgba(113, 140, 27, 0.3);
            width: 92%;
            height: 25px;
            padding: 5px 20px;
            border: 1px solid rgb(125, 148, 77);
            border-radius: 5px;
            outline: none;
        }

        ::placeholder {
            font-family: candara, sans-serif;
            color: rgba(0, 0, 0, 0.8);
        }

        .form-input button {
            background-color: rgb(125, 148, 77);
            color: rgb(0, 0, 0, );
            font-family: candara, sans-serif;
            font-size: 15px;
            text-transform: uppercase;
            padding: 10px;
            border: none;
            border-radius: 5px;
            float: right;
        }

        .form-input button:hover {
            background-color: rgba(125, 148, 77, 0.5);
        }
    </style>
</head>

<body>
    <div class="box">
        {{{body}}}
    </div>
</body>

</html>